.asset-placeholder-home {
  background-position: left center;
  height: 500px;
  position: absolute;
  right: 0;
  top: 17%;
  transform: translate(0, -37%);
  width: 160%;

  background-image: url("./images/vector_laptop_home.png");
  background-size: auto 100%;
}
.asset-placeholder {
  background-position: left center;
  height: 600px;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(0, -37%);
  width: 150%;

  background-image: url("./images/vector_laptop_1.png");
  background-size: auto 100%;
}

@media (max-width: 576px) {
  .asset-placeholder-home {
    top: 0;
    height: 240px;
    width: 139%;
  }
  .asset-placeholder {
    top: 0;
    height: 240px;
    width: 140%;
  }
}
